// @import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";

body, html {
  height: 100%;
}

body {
  transform: translateZ(1000px);
  -webkit-transform: translateZ(1000px);
}

.center {
  text-align: center;
}



#snabbt-container {
  min-width: 480px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  height: calc(100vh - 50px);
  overflow-y: auto;
  #snabbt-stage {
    width: 100%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    // background-color: red;
    img {
      max-height: 100px;
      // margin: 20px 0;
    }
  }
}

.toolbar {
  $toolHeight: 50px;
  padding: 0px 20px;
  width: 100%;
  line-height: $toolHeight;
  height: $toolHeight;
  // background-color: white;
  background-color: rgba(255, 255, 255, 0.5);
  // border-top: 2px solid black;
  box-shadow: 0px 0px 0px 0px black;
  // position: relative;
  // bottom: 0;
}