@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";

body, html {
  height: 100%;
}

body {
  transform: translateZ(1000px);
  -webkit-transform: translateZ(1000px);
  font-family: "raleway",HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
}


a {
  color: lighten($link-color, 15%) !important;
}


.no-padding {
  padding: 0 !important;
}

.center {
  text-align: center;
}

.info-box {
  position: relative;
  border-bottom: 2px solid $gray;
  .info-box-wrapper {
    min-width: 720px;
    max-width: 720px;
    margin: 0 auto;
    .credits {
      font-size: 1em;
      // color: $gray-lighter;
    }

    ul {
      font-size: 1.2em;
      padding-left: 0;
      list-style: circle inside;
    }

  }
  .toggler {
    position: absolute;
    bottom: -1px;
    right: 0;
    padding: 5px 10px;
    background-color: white;
    cursor: pointer;
    border: 1px solid $gray;
  }
}

.img-container {
  &.default {
    height: 100%;
  }

  &.grid {
    height: 100px;
    overflow-y: hidden;
    padding: 15px;
  }
}

#snabbt-container {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  height: 100%;
  min-width: 720px;
  max-width: 720px;
  .toolbar {
    $toolHeight: 50px;
    padding: 0px 20px;
    width: 100%;
    min-width: 720px;
    max-width: 720px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 0px 0px black;
    .btn {
      margin: 5px 0;
    }
  }
  #snabbt-stage {
    width: 100%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    img {
      &.default {
        max-height: 100px;
      }
      &.grid {
        height: auto;
        width: 100%;
      }
    }
  }
}

